<footer>
    <p><a href="https://github.com/nanaplouf" class="pInFooter"><i class="fa-brands fa-github"></i> GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/dossantosvera/" class="pInFooter"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></p>
    <p>© nanaplouf pour LePoleS {{ "now"|date("Y") }}<p>
</footer>