<form method="post" action="{{ path('app_topic_delete', {'id': topic.id}) }}" onsubmit="return confirm('Veux-tu vraiment le supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
    <button class="btn btn-danger mt-2">supprimer</button>
</form>
