{% extends 'base.html.twig' %}

{% block body %}

    
    {% if app.user %}
        <h1>Bonjour,{{ app.user.userIdentifier }},  T'chaton ensemble ! 😺</h1>
    {% else %}
        <h1>Forum T'chaton ensemble ! 😺</h1>
    {% endif %}

        

{% endblock %}
